<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	Index html

	<script>
		// Create WebSocket connection.
		const socket = new WebSocket('ws://' + location.host);

		// Connection opened
		socket.addEventListener('open', e => socket.send('Hello Server!'));

		// Listen for messages
		socket.addEventListener('message', e => console.log('Message from server ', e.data));
	</script>
</body>
</html>
